@font-face {
  font-family: "Benz Grotesk";
  src: url("/fonts/darker/Benz Grotesk.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

.benz-grotesk {
  font-family: "Benz Grotesk", sans-serif;
  font-weight: 850;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-s {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.word-spacing {
  word-spacing: 0.7rem;
}

.radial-gradient-purple {
  background: radial-gradient(
    circle,
    rgba(164, 0, 169, 0.6) 20%,
    rgba(1, 4, 37, 0.3) 60%,
    rgba(1, 4, 37, 0) 100%
  );
  border-radius: 50%;
  height: 100%;
  width: 100%;
  filter: blur(50px);
}

.radial-gradient-purple2 {
  background: radial-gradient(
    circle,
    rgba(164, 0, 169, 0.6) 20%,
    rgba(1, 4, 37, 0.3) 60%,
    rgba(1, 4, 37, 0) 100%
  );
  border-radius: 50%;
  height: 175%;
  width: 175%;
  filter: blur(50px);
}

.scrollbar-x::-webkit-scrollbar {
  display: none;
}

/* animate-moveInfinite */
