@font-face {
  font-family: "Benz Grotesk";
  src: url("/fonts/darker/Benz Grotesk.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

*{
  scroll-behavior: smooth;
}

.benz-grotesk {
  font-family: "Benz Grotesk", sans-serif;
  font-weight: 850;
  font-style: normal;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-s {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.poppins {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.word-spacing {
  word-spacing: 0.7rem;
}

.radial-gradient-purple {
  background: radial-gradient(
    circle,
    rgba(164, 0, 169, 0.6) 20%,
    rgba(1, 4, 37, 0.3) 60%,
    rgba(1, 4, 37, 0) 100%
  );
  border-radius: 50%;
  height: 100%;
  width: 100%;
  filter: blur(50px);
}

.radial-gradient-purple2 {
  background: radial-gradient(
    circle,
    rgba(164, 0, 169, 0.6) 20%,
    rgba(1, 4, 37, 0.3) 60%,
    rgba(1, 4, 37, 0) 100%
  );
  border-radius: 50%;
  height: 175%;
  width: 175%;
  filter: blur(50px);
}

.scrollbar-x::-webkit-scrollbar {
  display: none;
}
.rounded-full {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}


/* .gradient-button {
  background-color: #0b7b54; 
  border-radius: 5px;
  padding: 10px 20px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
 
  border-image: linear-gradient(to right, #f8f6f6, #6bab62) 2;
  border-width: 2px;
} */

/* .gradient-border {
  width: 192px;  
  height: 113px;  
  background: conic-gradient(
    from "90deg",
    white,
    rgba(249, 250, 249, 0.5),
    white,
    rgba(250, 251, 250, 0.5),
    white
  );
  
  mask: radial-gradient(white 75%, transparent 100%);
  -webkit-mask: radial-gradient(white 75%, transparent 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.content {
  width: 190px; 
  height: 110px;
  background: #39d05a;  
  display: flex;
  align-items: center;
  justify-content: center;
} */